{% assign asset_version = site.time | date: "%s" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC:wght@500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/projects.css' | relative_url }}?v={{ asset_version }}">
<link rel="stylesheet" href="{{ '/assets/css/site-custom.css' | relative_url }}?v={{ asset_version }}">
<script defer src="{{ '/assets/js/tag-filter.js' | relative_url }}?v={{ asset_version }}"></script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['\\(', '\\)'], ['$', '$']],
      displayMath: [['\\[', '\\]'], ['$$', '$$']]
    }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
